body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #fff;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    font-weight: bold;
    font-weight: normal;
    color: #436b95;
}

a:hover {
    text-decoration: underline;
}

.applet {
    border: 1px dotted #7ad;
    padding: 4px;
}

#toolbar {
    background-color: #acf;
    padding: 2px;
}

ul li {
    list-style-type: none;
}

#item-list li {
    float: left;
    padding: 1em;
    width: 130px;
    height: 130px;
    border: 1px dotted #ddd;
    margin: 0.5em;
}

.clear {
    clear: both;
}

#tag-list li {
    border: 2px solid #fff;
    padding: 2px;
}

#tag-list li.highlight {
    background-color: #ffd;
}

#tag-list li.selected a {
    font-weight: bold;
}

#tag-list li.highlight-over {
    border: 2px solid #aaa;
}

.tag-list-count {
    color: #aaa;
}
